#app
APP_NAME=prowhats_chat
SERVER_TYPE=local
APP_PORT=3000
APP_URL=http://localhost

#redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASS=

#mysql
DB_CONNECTION=mysql
DB_HOST="127.0.0.1"
DB_PORT=3306
DB_DATABASE="chat"
DB_USERNAME="root"
DB_PASSWORD=""